autopep8==1.4
click==8.0.4
colorama==0.4.4
dataclasses==0.8
emoji==1.7.0
Flask==2.0.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
nltk==3.3
numpy==1.15.1
pycodestyle==2.4.0
six==1.11.0
text2emotion==0.0.5
textblob==0.17.1
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
streamlit==1.1*
